BOT_TOKEN=
ADMIN_IDS=

# Robokassa для канала "Орден Демиургов" (БОЕВОЙ РЕЖИМ)
ROBOKASSA_CHANNEL_1_MERCHANT_LOGIN=DemiurgAssistentbot
ROBOKASSA_CHANNEL_1_PASSWORD_1=
ROBOKASSA_CHANNEL_1_PASSWORD_2=

# Robokassa для канала "Родители Демиурга"
ROBOKASSA_CHANNEL_2_MERCHANT_LOGIN=DemiurgParents
ROBOKASSA_CHANNEL_2_PASSWORD_1=
ROBOKASSA_CHANNEL_2_PASSWORD_2=

ROBOKASSA_TEST_MODE=True
CHANNEL_1_ID=
CHANNEL_2_ID=1

# PostgreSQL Database Configuration
DB_URL=postgresql:
DB_HOST=localhost
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

SUPPORT_LINK=
OFFER_LINK=

# Prices for subscriptions (in rubles)
CHANNEL_1_PRICE=1990
CHANNEL_2_PRICE=1990
